td {
    text-align: center;
  }

th {
  font-size: larger;
  background-color: darkgray;
  border: 1px solid black
}

tr,td {
  font-size: large;
  border: 1px solid black
}

table {
  border: 1px solid black
}